<div class="bg-full-image">

  <%= image_tag "middlefinger.jpg" %>

</div>

<div class="main-body">

  <h1>Welcome to The Fuck It Bucket</h1>

  <p>"Sometimes, you just need to say 'fuck it' and eat some motherfucking candy." -David Sedaris</p>

  <p>FUCK IT's today -------> <%= @todays_count %></p>
  <p>FUCK IT's all time ----> <%= @all_time_count %></p>

  <%= form_for @statement do |f| %>
    <p>
      <%= f.label '------>' %>
      <%= f.text_field :statement, placeholder: 'Shit just happened' %>
      <%= f.submit '- FUCK IT!' %>
    </p>
  <% end %>

  <ul>
    <% @statements.reverse.each do |phrase| %>
        <li>
          <%= phrase.statement %> - FUCK IT!
        </li>
    <% end %>
  </ul>

</div>